<h1>Wish List</h1>

<div class="container">
	<div class="row">

		{{#each wishes}}
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{this.wish}}</h5>
					<p class="card-text">Wish Card</p>
					<a href="#" class="btn btn-primary">ID: {{this.id}}</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
{{!-- {{#each wish}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Wish: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul>--}}

<hr >
<h3>Enter your next wish</h3>
<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>